
.table td {
    --bs-table-hover-bg:rgb(195, 219, 255);
    cursor: pointer;
}
.table tr.selected {
    background: rgb(195, 219, 255);
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content-scroll-table {
    flex: 1;
    overflow: auto;
}
.printPageBreakBefore {
    page-break-before: always;
}
@media print
{
    .noPrint {
        display: none !important
    }
}